/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.formms {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#1c4486, #28ace2, #fff);
}

#h4{
  margin-top: 4%; 
 
}
.form-container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.form-container header {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.form-container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


.form button {
  height: 55px;
  width: 30%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  float: right;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(0, 192, 250);
}

.form button:hover {
  background: rgb(30, 0, 118);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  
}










